{% extends 'base.html' %}

{% block title %}
ConOccult - Reporting Cycles
    <link href="{{ url_for('static', filename='css/rotate.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-6">
        <h1>Look Ahead Activities Form</h1>
        <h3>Week Commencing {{lookahead}}</h3>
        {% from '_formhelpers.html' import render_field %}
        {% if action=='new' %}<form method="POST" action ={{ url_for('new_constraintanalysis_details', id= constraintanalysis.id) }} role ="form">
        
        {% endif %}
        {{ form.hidden_tag() }}
        <table class='table'>
            
        <tr class="tr_clone">
            <td>{{ render_field(form.task, class="form-control") }}</td>
            {% for constraint in constraints %}
            <td class = "rotate">
            <label class = "rotate" for="{{constraint.name}}">{{ constraint.name }}</label>
            <input class="form-control" id="{{constraint.id}}" name="{{constraint.id}}" type="checkbox" value='1'>
            <input type="hidden" name="{{constraint.id}}" value="No">
            </td>
            {% endfor %}
            <td>{{ render_field(form.status, class="form-control") }}</td>
            <td>{{ render_field(form.is_active, class="form-control") }}</td>
            <td><input type="button" name="add" value="Add" class="tr_clone_add"></td>
        </tr>
        </table>
        <button type ="submit" class="btn btn-default">Save</button>
        </form>

    </div>
</div>
<script>
$(document).ready(function(){
    $(document).on('click',"input.tr_clone_add", function() {
    var $tr    = $(this).closest('.tr_clone');
    var $clone = $tr.clone();
    $clone.find(':text').val('');
    $tr.after($clone);
});
});
</script>
{% endblock %}