{% extends 'base.html' %}

{% block title %}
ConOccult - Reporting Cycles
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-8">
        <h1>Constraint Analysis Activities  </h1>
        <h3>Area {{constraintanalysis.section}}</h3>
        <h3>Week Commencing {{constraintanalysis}}</h3>
        <hr>
        <h4>Activities</h4>
        <table class='table table-hover table-responsive'>
            <tr>
                <th>Task</th>
                {% for constraint in constraints %}
                <th>{{ constraint.name }}</th>
                {% endfor %}
                <th>Status</th>
                <th>Active</th>
            </tr>
            {% for task in tasks %}
            <tr>
            <td>{{ task.task }}</td>
                {% for d in details.filter_by(task_id= task.task_id).all() %}
                <td>{{ d.status }}</td>
                {% endfor %}
            <td>{{ task.status}}</td>
            <td>{{ task.is_active }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}