{% extends 'base.html' %}

{% block title %}
ConOccult - Reporting Cycles
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-10">
        <h1>Constraint Analysis Activities  </h1>
        <h3>Area {{constraintanalysis.section}}</h3>
        <h3>Week Commencing {{constraintanalysis}}</h3>
        <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class='flashes alert alert-success alert-dismissable'>
            {% for message in messages %}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h4>Activities</h4>
        <table class='table table-hover table-responsive'>
            <tr>
                <th>Task</th>
                {% for constraint in constraints %}
                <th>{{ constraint.name }}</th>
                {% endfor %}
                <th>Status</th>
                <th>Active</th>
            </tr>
            {% for task in tasks %}
            <tr>
            <td style="width:50%">{{ task.task }}</td>
                {% for d in details.filter_by(task_id= task.task_id).all() %}
                <td>
                {% if d.status %}
                <img class="img-responsive" src={{ url_for('static',  filename='img/True.png') }} >
                {% else %}
                <img class="img-responsive" src={{ url_for('static',  filename='img/False.png') }} >
                {% endif %}
                </td>
                {% endfor %}
            <td>{{ task.status}}</td>
            <td>{{ task.is_active }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}