{% extends 'base.html' %}

{% block title %}
ConOccult - Projects
{% endblock %}

{% block content %}

    <div class ="col-md-8">
        <h1>Weekly Work Plans</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            
            {% for category, message in messages %}
            <ul class='flashes alert {{ category }} alert-dismissable'>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
             </ul>
            {% endfor %}
            
          {% endif %}
        {% endwith %}
        <table class="table table-hover table-responsive">
        <tr>
            <th>Code</th>
            <th>Data Date</th>
            <th>Actions</th>
        </tr>
        {% for wp in wwp %}
        
        <tr>
            <td>{{ wp.section }}</td>
            <td><a href ={{ url_for('view_wwp_detail', id=wp.id ) }}>{{ wp.reportingdate }}</a></td>
            <td>
            <a href={{ url_for('view_wwp_detail', id=wp.id ) }} ><img src={{ url_for('static', filename='img/delete.png') }} style="width:20px;height:20px;" alt="Delete"/> </a>
            <a href={{ url_for('view_wwp_detail', id= wp.id ) }}><img src= {{ url_for('static', filename='img/edit.png') }} style="width:20px;height:20px;" alt="Edit"/> </a>
            <a href={{ url_for('update_wwp_details', id=wp.id ) }}><img src= {{ url_for('static', filename='img/update.png') }} style="width:20px;height:20px;" alt="Update"/> </a>
            </td>
        </tr>
        
        {% endfor %}
        </table>
        <a href= {{ url_for('new_wwp') }} class='btn btn-success'> Add Weekly Plan </a>
    </div>

{% endblock %}