{% extends 'base.html' %}

{% block title %}
ConOccult - Reporting Cycles
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-8">
        <h1>Look Ahead Activities </h1>
        <h3>Week Commencing {{lookahead}}</h3>
        
        {% include '_flashmessages.html' %}
        
        <hr>
        <h4>Activities</h4>
        <div style="overflow-x:auto;">
        <table class='table table-hover table-responsive'>
            <tr>
                <th>ID</th><th>Name</th><th>Start</th><th>Finish</th><th>Actions</th>
            </tr>
            {% for task in tasks %}
            {% if task %}
            <tr>
            <td>{{ task.task_code }}</td>
            <td>{{ task.task_name }}</td>
            <td>{{ task.start.strftime('%d-%m-%Y')}}</td>
            <td>{{ task.finish.strftime('%d-%m-%Y') }}</td>
            <td>
                <a data-target="#confirm-delete" data-toggle="modal" data-href="{{ url_for('delete_lookahead_activity', id = task.id) }} "><img title="Delete" src="{{ url_for('static', filename='img/delete.png') }}" style="width:20px;height:20px;" alt="Delete"/> </a>
                <a href="{{ url_for('edit_lookahead_detail', tid = task.id) }} "><img title="Edit" src="{{ url_for('static', filename='img/edit.png') }}" style="width:20px;height:20px;" alt="Edit"/> </a>
            </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>
        <a href= {{ url_for('edit_lookahead_details', id=lookahead.id) }} class="btn btn-success">Edit LookAhead</a>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>You are about to delete one record, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
});
</script>

{% endblock %}