{% extends 'base.html' %}

{% block title %}
ConOccult - Projects
{% endblock %}

{% block content %}

    <div class ="col-md-8">
        <div style="padding:20px;">
        <h1>LookAhead List</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class='flashes alert alert-success alert-dismissable'>
            {% for message in messages %}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <table class='table table-hover table-responsive'>
        <tr>
            <th>Data Date</th>
            <th>Section</th>
            <th>Actions</th>
        </tr>
        {% for la in lookaheads %}
        <tr>
        <td><a href ={{ url_for('view_lookahead', id= la.id) }}>{{ la }}</a></th>
        <td> {{ la.section.name }}</td>
        <td>
                <a href="{{ url_for('view_lookahead', id =la.id) }} "><img src="{{ url_for('static', filename='img/delete.png') }}" style="width:20px;height:20px;" alt="Delete"/> </a>
                <a href="{{ url_for('view_lookahead', id =la.id) }} "><img src="{{ url_for('static', filename='img/edit.png') }}" style="width:20px;height:20px;" alt="Edit"/> </a>
        </td>
        </tr>
        
        {% endfor %}
        </table>
        </div>
        <a href= {{ url_for('new_lookahead') }} class='btn btn-success'> Add LookAhead</a>
           
    </div>

{% endblock %}