{% extends 'base.html' %}

{% block title %}
ConOccult - Projects
{% endblock %}

{% block content %}

    <div class ="col-md-8">
        <div style="padding:20px;">
        <h1>LookAhead List</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            
            {% for category, message in messages %}
            <ul class='flashes alert {{ category }} alert-dismissable'>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
             </ul>
            {% endfor %}
            
          {% endif %}
        {% endwith %}
        <table class='table table-hover table-responsive'>
        <tr>
            <th>Data Date</th>
            <th>Section</th>
            <th>Actions</th>
        </tr>
        {% for la in lookaheads %}
        <tr>
        <td><a href ={{ url_for('view_lookahead', id= la.id) }}>{{ la }}</a></th>
        <td> {{ la.section.name }}</td>
        <td>
                <a data-target="#confirm-delete" data-toggle="modal" data-href="{{ url_for('view_lookahead', id =la.id) }} "><img src="{{ url_for('static', filename='img/delete.png') }}" style="width:20px;height:20px;" alt="Delete"/> </a>
                <a href="{{ url_for('view_lookahead', id =la.id) }} "><img src="{{ url_for('static', filename='img/edit.png') }}" style="width:20px;height:20px;" alt="Edit"/> </a>
        </td>
        </tr>
        
        {% endfor %}
        </table>
        </div>
        <a href= {{ url_for('new_lookahead') }} class='btn btn-success'> Add LookAhead</a>
           
    </div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>You are about to delete one record, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
});
</script>

{% endblock %}