{% extends 'base.html' %}

{% block title %}
ConOccult - New Organisation
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-4">
        <h1>Create New Organisation</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            
            {% for category, message in messages %}
            <ul class='flashes alert {{ category }} alert-dismissable'>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
             </ul>
            {% endfor %}
            
          {% endif %}
        {% endwith %}
        {% from '_formhelpers.html' import render_field %}
        {% if action=='new' %}<form method="POST" action ={{ url_for('add_organisation') }} role ="form">
        {% else %}<form method="POST" action="{{ url_for('edit_organisation', id= organisation.id)  }}" enctype="multipart/form-data" role="form">
        {% endif %}
        {{ form.hidden_tag() }}
        {{ render_field(form.code, class="form-control") }}
        {{ render_field(form.name, class="form-control") }}
        {{ render_field(form.description, class="form-control") }}
        {{ render_field(form.is_active, class="form-control") }}
        {% if action=='new' %}
        <h1>Admin User</h1>
        {{ render_field(form.firstname, class="form-control") }}
        {{ render_field(form.lastname, class='form-control') }}
        {{ render_field(form.username, class='form-control') }}
        {{ render_field(form.email, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}
        {{ render_field(form.confirm, class='form-control') }}
        {% endif %}
        <button type ="Create Organisation" class="btn btn-default">Create Organisation</button>
        </form>

    </div>
</div>
{% endblock %}