{% extends 'base.html' %}

{% block title %}
ConOccult - Organisations
{% endblock %}

{% block content %}

    <div class ="col-md-5">
        <h1>Organisations List</h1>
        <table>
        
        {% for organisation in organisations %}
        <tr>
        <th><a href ="{{url_for('edit_organisation', id= organisation.id) }}">{{ organisation.name }}</a></th>
        </tr>
        <tr><td>{{ organisation.description }}</td></tr>
        {% endfor %}
        </table>
           
    </div>

{% endblock %}