{% extends 'base.html' %}

{% block title %}
ConOccult - Assign User to Project
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-6">
        <h1>Project User Roles Assignment</h1>
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class='flashes alert alert-success alert-dismissable'>
            {% for message in messages %}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% from '_formhelpers.html' import render_field %}
        {% if action=='new' %}<form method="POST" action ={{ url_for('newuserprojectassignment') }} role ="form">
        
        {% endif %}
        {{ form.hidden_tag() }}
        {{ render_field(form.user, class="form-control") }}
        {{ render_field(form.role, class="form-control") }}


        <button type ="submit" class="btn btn-default">Save</button>
        </form>

    </div>
</div>
{% endblock %}