{% extends 'base.html' %}

{% block title %}
ConOccult - Roles
{% endblock %}

{% block content %}

    <div class ="col-md-8">
        <h1> {{ organisation_name }} Roles List</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            
            {% for category, message in messages %}
            <ul class='flashes alert {{ category }} alert-dismissable'>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
             </ul>
            {% endfor %}
            
          {% endif %}
        {% endwith %}
        {{ roles|safe }} 
    </div>

{% endblock %}