{% extends 'base.html' %}

{% block title %}
ConOccult - Roles
{% endblock %}

{% block content %}

    <div class ="col-md-8">
        <h1> {{ organisation_name }} Roles List</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class='flashes alert alert-success alert-dismissable'>
            {% for message in messages %}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {{ roles|safe }} 
    </div>

{% endblock %}