{% extends 'base.html' %}

{% block title %}
ConOccult - Projects
{% endblock %}

{% block content %}

    <div class="col-md-10">
        <h3> Projects List</h3>
        
        {% include '_flashmessages.html' %}
        
        <table class='table table-hover table-responsive'>
         <tr>
        <th padding=5>Name</th>
        <th>Description</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Actions</th>
        </tr>
        
        {% for project in projects %}
        <tr>
            <td><a href ="/viewproject/{{ project.id }}">{{ project.name }}</a></td>
            <td>{{ project.description }}</td>
            <td>{{ project.start.strftime('%d-%b-%Y') }}</td>
            <td>{{ project.finish.strftime('%d-%b-%Y') }} </td>
            <td>
            <a data-target="#confirm-delete" data-toggle="modal" data-href="{{ url_for('delete_project', id = project.id) }} "><img title="Delete" src="{{ url_for('static', filename='img/delete.png') }}" style="width:20px;height:20px;" alt="Delete"/> </a>
            <a href="{{ url_for('edit_project', project_id = project.id) }} "><img title="Edit" src="{{ url_for('static', filename='img/edit.png') }}" style="width:20px;height:20px;" alt="Edit"/> </a>
            </td>
        </tr>
        {% endfor %}
        </table>
        <a href= {{ url_for('newproject') }} class='btn btn-success'> Add Project </a> 
    </div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>You are about to delete one record, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
});
</script>
{% endblock %}